<footer>
	<div class="footer">
		<hr class="footer-top-hr" width="70vw">
		SCIC &copy; 2017
	</div>
</footer>
<script>
	$('#toggle').click(function() {
		$(this).toggleClass('active');
		$('#overlay').toggleClass('open');
	});
</script>

</body>
</html>