<!DOCTYPE html>
<html>
<head>
	<title>Sta. Clara International Corporation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300|Roboto:300" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/scripts/script.js"></script>
	<script src="/scripts/lightbox.js"></script>
</head>
<body>
	<button onclick="topFunction()" id="btn-to-top" title="Go to top"><i class="fa fa-angle-up"></i></button>
	<div class="overlay" id="overlay">
		<nav class="overlay-menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/careers">Careers</a></li>
				<li><a href="/elearnings">e-Learning</a></li>
				<li><a href="/systemcertifications">Standards & Certifications</a></li>
				<% if(!currentUser){ %>
				<li><a href="/login">Log In</a></li>
				<% } else { %>
				<li><a href="/logout">Log Out</a></li>
				<% } %>

			</ul>
		</nav>
	</div>