<% include ./partials/header %>
<nav class="navbar">
	<div class="navbar-header" >
		<a class="navbar-brand" href="/"><img id="scicLogo" src="../img/scic_logo.png"/>
		</a>
	</div>
	<div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
</nav>
<div class="container-projects">
	<h1 class="header-text-form">Log In</h1>
	<h4 class="header-text-form">as an SCIC Admin</h4>
	<div class="project-form-container">
		<form action="/login" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="username" required="required">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password" required="required">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-success btn-block">LOG IN</button>
			</div>
			<div class="form-group">
				<p>Forgot Password? Contact IT Helpdesk.</p>
			</div>
		</form>
	</div>
</div>
<% include ./partials/footer %>