<% include ./partials/header %>
<nav class="navbar">
	<div class="navbar-header" >
		<a class="navbar-brand" href="/"><img id="scicLogo" src="../img/scic_logo.png"/>
		</a>
	</div>
	<div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
</nav>

<main>
	<div class="container-certificate">
		<h1 class="header-text-certificate">System Certifications</h1>
		<h3>(QUALITY, ENVIRONMENT, SAFETY AND HEALTH)</h3>
		<div class="content-certificate">
			Sta. Clara International Corp. is committed to a sustainable development and to being a good corporate citizen to its customer’s host communities and to the world at large, as it believes that the environment and countries of the planet earth do not have real borders. As part of good business policy, STA. CLARA is committed to prevent pollution and to comply with relevant environmental, safety and health regulations and relevant international standards, codes of practice applicable to the general construction industry.
		</div>
		<div class="certificate-mark">
			<img src="/img/20180110_ISO_CertMark_Color_ISO9001_ISO14001_OHSAS18001.jpg" ">
		</div>
		<div class="content-certificate">
			STA. CLARA is also committed to continual improvement of its quality, environmental, safety and health performance, to improve the management of its risks and maintain, if not increase, its profits. It requires its suppliers and subcontractors to practice pollution prevention and compliance with environment, safety and health laws and standards.
		</div>
		<div id="certificates">
			<div class="project-gallery">
				<div class="certificate-card">
					<a href="/img/20180102_ISO90012015_Certificates_SCI-1-COPY.png" class='thumbnail' id="lightbox-img" data-lightbox="plantSet" data-title="ISO 9001">
						<img src="/img/20180102_ISO90012015_Certificates_SCI-1-COPY.png" class="certificate" alt="ISO 9001" title="ISO 9001">
					</a>
				</div>
				<div class="certificate-card">
					<a href="/img/20180102_OHSAS180012007_Certificates-1-COPY.png" class='thumbnail' id="lightbox-img" data-lightbox="plantSet" data-title="OHSAS 18001">
						<img src="/img/20180102_OHSAS180012007_Certificates-1-COPY.png" class="certificate" alt="OHSAS 18001" title="OHSAS 18001">
					</a>
				</div>
				<div class="certificate-card">
					<a href="/img/20180102_ISO140012015_Certificates-1-COPY.png" class='thumbnail' id="lightbox-img" data-lightbox="plantSet" data-title="ISO 14001">
						<img src="/img/20180102_ISO140012015_Certificates-1-COPY.png" class="certificate" alt="ISO 14001" title="ISO 14001">
					</a>
				</div>

			</div>
		</div>
	</div>
</main>
<% include ./partials/footer %>