html 
	overflow-x: hidden
	box-sizing: border-box
	letter-spacing: 1px
	margin: 0 auto

body
	background-color: #ffffff
	font: 1.5em Roboto, sans-serif
	line-height: 150%

li a 
	text-align: center

span.icon-bar 
	background: #ffffff

.rowHeader 
	margin-bottom: 5vh

hr
	border: transparent

footer div.row 
	max-width: 100%
	text-align: center
	right: 0
	bottom: 0
	left: 0
	padding: 1rem
	

::selection 
	background: #a2e7c1